


.camlogo
{
     width:30px;
     height:30px;
     margin-top: 20px;
     margin-left: 80px;
  
}


.instalogo
{
    width:130px;
    height:30px;
     margin-top: 20px;
    margin-bottom: 20px;
}
.searh
{
     display: inline-block;
    width: 200px;
   
    margin-left: 20px;
    margin-right: 280px;
}
#posts{
    margin-top:50px;
}
.contacticon
{
   width:30px;
   height:15px; margin-right: 20px;
}
.sendicon
{
   width:30px;
   height:15px;
  
}
.likeicon
{
    width:30px;
   height:15px;
   margin-right: 20px;
}

.vertical_line
{
    height:30px; 
    width:1px;
    background:#000;
    float:left;
    
    margin-bottom: 15px;
    margin-left: 13px;
    margin-right: 0px;
    margin-top: 18px;
}
.header
{
	float: left;
}
.name
{
	float:left;
}
.img-circle {
    border-radius: 50%;
}
.select
{
	float: right;
	
}
.ciclepic
{
   /* height:50px;
   // width: 40px;*/
     max-width:50px;
    height: auto;
    border-radius: 50%;
   /* */
}
.ciclepic:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.mainpic
{
    max-width: 100%;
    height: auto;
}
.bordr
{
    
    border-bottom:ridge;
    margin-top:10px;
    
}
.bordrpic
{
   
    border:1px;
    border-style: ridge;
}
.likepic
{
    cursor:pointer;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  
}
.data_box
{
    margin-top:100px; 
}
.data_boxfooter
{
    margin-bottom: 50px;
}

.likepic img 
{
    width: 50%;
}

.mainpic {
    width: 100%;
}
/*div {
    border: 10px dotted black;
    padding:35px;
    background: yellow;
    background-clip: content-box;
}*/